@charset "UTF-8";

/* fontes */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cores */
:root {
    --cor-principal: #0E3B40;
    --cor-secundaria: #026873;
    --cor-acao: #5BCCD9;
    --cor-clara: #D1FAFF;
    --cor-destaque: #9EF5FF;
}

/* estilizações do header */

header{
    background-color: var(--cor-principal);
    height: 100px;
}

header h1{
    width: auto;
    height: 50px;
    padding: 20px 0px 0px 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--cor-destaque);
}

header h1 {
    transition: color 0.4s ease, transform 0.4s ease;
    cursor: pointer;
}

header h1:hover {
    color: var(--cor-acao); /* muda para o azulzinho claro */
    transform: scale(1.05);
}


header nav{
    padding: 35px 0px 0px 0px;
}

header, nav > ul{
    display: flex;
    gap: 170px;
}

header nav > ul{
    gap: 120px;
    list-style: none;
    padding: 0;
    margin: 0;
}

header nav ul li a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

header nav ul li:hover{
    cursor: pointer;
    color: #62efff;
    transition: 0.1s;
}

header nav ul li {
    color: var(--cor-destaque);
}

header nav ul li a:visited{
    color: inherit;
}

.header-animado {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease;
}

.header-animado.ativo {
    opacity: 1;
    transform: translateX(0);
}

nav a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--cor-acao); /* tipo o azulzinho #5BCCD9 */
    transition: width 0.4s ease;
}

nav a:hover::after {
    width: 100%;
}

section.hero_section{
    width: 100%;
    height: 524px;
    background-color: var(--cor-principal);
    display: flex;

}

section.hero_section .texto-topo{
    width: 50%;
    height: 100%;
    padding-left: 150px;
    padding-top: 90px;
}

section.hero_section .texto-topo h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 49px;
    width: 300px;
    color: var(--cor-clara);
}

section.hero_section .texto-topo p{
    width: 300px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    color: var(--cor-clara);
    margin: 20px 0px;
}

section.hero_section .texto-topo button{
    width: 108px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--cor-acao);
    border: none;
}

section.hero_section .texto-topo button a{
    text-decoration: none;
    color: var(--cor-principal);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

section.destaques{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-secundaria);
    align-items: center;
}

section.destaques div{
    width: 220px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

section.destaques div img{
    width: 42px;
}

section.destaques div p{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 13px;
    color: var(--cor-clara);
}

section.categoria{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #0E3B40, #026873);
}

section.categoria h2{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    color: var(--cor-destaque);
    margin: 35px 0px;
}

section.categoria .container-cards{
    width: auto;
    height: auto;
    display: flex;
    gap: 125px;
}

section.categoria .container-cards .card{
    width: 230px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #026873, #0E3B40);
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section.categoria .container-cards .card h3{
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--cor-acao);
    margin-bottom: 15px;
}

section.categoria .container-cards .card p{
    width: 200px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: var(--cor-clara);
    text-align: center;
}

section.categoria .container-cards .card:hover{
    transform: translateY(-4px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.35);
}

section.categoria .container-cards .card-animado{
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease;
}

section.categoria .container-cards .card-animado.ativo{
    opacity: 1;
    transform: translateX(0);
}
