@charset "UTF-8";

/* =========================== */
/*         FONTES             */
/* =========================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');


/* =========================== */
/*         RESET              */
/* =========================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================== */
/*     VARIÁVEIS DE COR       */
/* =========================== */
:root {
    --cor-principal: #0E3B40;
    --cor-secundaria: #026873;
    --cor-acao: #5BCCD9;
    --cor-clara: #D1FAFF;
    --cor-destaque: #9EF5FF;
}


/* =========================== */
/*          HEADER            */
/* =========================== */
header {
    height: 100px;
    background: rgba(14, 59, 64, 0.25); /* Cor #0E3B40 com transparência */
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    border: 1px solid rgba(14, 59, 64, 0.4);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    color: #fff;
    box-sizing: border-box;
}

/* Estilo do título */
header h1 {
    width: auto;
    height: 50px;
    padding: 20px 0px 0px 25px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    color: var(--cor-destaque);
    transition: color 0.4s ease, transform 0.4s ease;
    cursor: pointer;
}

/* Efeito hover no título */
header h1:hover {
    color: var(--cor-acao);
    transform: scale(1.05);
}

/* Estilo da navegação */
header nav {
    padding: 35px 0px 0px 0px;
}

/* Alinhamento horizontal do header e nav */
header, nav > ul {
    display: flex;
    gap: 170px;
}

/* Estilo da lista de links */
header nav > ul {
    gap: 120px;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Estilo dos links */
header nav ul li a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

/* Hover nos itens da lista */
header nav ul li:hover {
    cursor: pointer;
    color: #62efff;
    transition: 0.1s;
}

/* Cor padrão dos itens */
header nav ul li {
    color: var(--cor-destaque);
}

/* Corrige cor ao visitar link */
header nav ul li a:visited {
    color: inherit;
}

/* Animação do header com JavaScript */
.header-animado {
    opacity: 0;
    transform: translateX(-50px);
    transition: all 0.8s ease;
}

.header-animado.ativo {
    opacity: 1;
    transform: translateX(0);
}

/* Animação com underline no hover */
nav a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
}

nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--cor-acao);
    transition: width 0.4s ease;
}

nav a:hover::after {
    width: 100%;
}


/* =========================== */
/*        HERO SECTION        */
/* =========================== */
section.hero_section {
    width: 100%;
    min-height: 524px;
    background-color: var(--cor-principal);
    display: flex;  
    padding-top: 100px;
}

section.hero_section .texto-topo {
    width: 50%;
    height: 100%;
    padding-left: 150px;
    padding-top: 90px;
}

section.hero_section .texto-topo h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 49px;
    width: 300px;
    color: var(--cor-clara);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

}

section.hero_section .texto-topo p {
    width: 300px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 13px;
    color: var(--cor-clara);
    margin: 20px 0px;
}

section.hero_section .texto-topo a {
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    width: 108px;
    height: 40px;
    border-radius: 50px;
    background-color: var(--cor-acao);
    border: none;
}

section.hero_section .texto-topo a:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px var(--cor-acao);
    background-color: #62efffd0;
}

section.hero_section .texto-topo a {
    text-decoration: none;
    color: var(--cor-principal);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}


/* =========================== */
/*        DESTAQUES           */
/* =========================== */
section.destaques {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: var(--cor-secundaria);
    align-items: center;
}

section.destaques div {
    width: 220px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

section.destaques div img {
    width: 42px;
}

section.destaques div p {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 12px;
    color: var(--cor-clara);
}


/* =========================== */
/*        CATEGORIAS          */
/* =========================== */
section.categoria {
    width: 100%;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #0E3B40, #026873);
}

section.categoria h2 {
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    color: var(--cor-destaque);
    margin: 35px 0px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);

}

section.categoria .container-cards {
    display: flex;
    gap: 125px;
}

section.categoria .container-cards .card {
    width: 230px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, #026873, #0E3B40);
    border-radius: 10px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

section.categoria .container-cards .card h3 {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    color: var(--cor-acao);
    margin-bottom: 15px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);

}

section.categoria .container-cards .card p {
    width: 200px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 13px;
    color: var(--cor-clara);
    text-align: center;
}

/* Efeito hover nos cards */
section.categoria .container-cards .card:hover {
    transform: translateY(-4px);
    box-shadow: 0 15px 20px rgba(0, 0, 0, 0.35);
}

/* =========================== */
/*  AVALIAÇÔES E DEPOIMENTOS   */
/* =========================== */
section.depoimentos{
    width: 100%;
    height: auto;
    background: linear-gradient(to bottom, #0E3B40, #026873);
}

section.depoimentos .container-img-texto{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    gap: 5rem;
}

/* Efeito hover na imagem do headset */
section.depoimentos .container-img-texto .headset-img {
    transition: transform 0.4s ease;
}

section.depoimentos .container-img-texto .headset-img:hover {
    transform: scale(1.08); /* zoom leve */
}

section.depoimentos .container-img-texto .texto .txt h2{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: var(--cor-destaque);
    width: 330px;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

section.depoimentos .container-img-texto .texto .txt{
    display: flex;
    align-items: center;  /* centraliza verticalmente */
    gap: 0.5rem;
}

section.depoimentos .container-img-texto .texto #caracteristica{
    display: flex;
    flex-direction: row;
}

section.depoimentos .container-img-texto .texto #caracteristica p{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: var(--cor-clara);
    margin-bottom: 10px;
}

section.depoimentos .container-img-texto .texto{
    margin: 90px;
}

section.depoimentos .container-img-texto .texto #caracteristica #negrito{
    font-weight: 600;
}

section.depoimentos .container-img-texto .texto #caracteristica img{
    margin-bottom: 10px;
}

section.depoimentos .container-img-texto .texto .estrela{
    position: relative;
}

section.depoimentos .container-img-texto .texto .position-absolute ul{
    position: absolute;
    margin-bottom: 50px;
    margin-left: 20px;
}

section.depoimentos .container-img-texto .texto .position-absolute ul li::marker{
    font-size: 1.4rem;
    color: var(--cor-clara);
}

section.depoimentos .container-depoimentos{
    width: 100%;
    height: 280px;
    background-color: var(--cor-secundaria);
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.depoimentos .container-depoimentos h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #6FE3F3;
    margin: 10px 0px;
}

section.depoimentos .container-depoimentos .depoimentos-nomes{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}

section.depoimentos .container-depoimentos .depoimentos-nomes div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 150px;
    background: rgba(0, 118, 122, 0.13); /* fundo branco com transparência */
    border-radius: 16px;
    backdrop-filter: blur(10px); /* o efeito vidro mesmo! */
    -webkit-backdrop-filter: blur(10px); /* compatibilidade */
    border: 1px solid rgba(255, 255, 255, 0.2); /* contorno suave */
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25); /* profundidade */
}

section.depoimentos .container-depoimentos .depoimentos-nomes div {
    transition: transform 0.4s ease;
}

section.depoimentos .container-depoimentos .depoimentos-nomes div:hover {
    transform: scale(1.05); /* zoom leve */
}

section.depoimentos .container-depoimentos .depoimentos-nomes div p{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: var(--cor-clara);
}

section.depoimentos .container-depoimentos .depoimentos-nomes div ul li p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--cor-clara);
}

section.depoimentos .container-depoimentos .depoimentos-nomes div ul li::marker{
    font-size: 1.2rem;
    color: var(--cor-clara);
}

/* =========================== */
/*           RODAPÉ            */
/* =========================== */

footer {
    /* Container geral do rodapé */
    width: 100%;
    min-height: 450px;
    background: linear-gradient(to bottom, #0E3B40, #02515a);
    display: flex;
    justify-content: center;
    gap: 25rem;
}

footer .contato, .local-redes {
    /* Estilos das duas colunas do rodapé */
    width: 400px;
    height: 400px;
    margin-top: 50px;
}

footer .contato h2 {
    /* Título da área de contato */
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 32px;
    color: var(--cor-clara);
}

footer .contato ul {
    margin-left: 16px;
}

footer .contato ul li::marker {
    /* Estilo do marcador da lista */
    font-size: 1rem;
    color: var(--cor-clara);
}

footer .contato ul li p {
    /* Texto do item de contato */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: var(--cor-clara);
    margin: 30px 0px;
}

footer .contato form {
    /* Formulário de envio de mensagem */
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

textarea.mensagem {
    /* Caixa de texto da mensagem */
    height: 150px;
    padding: 10px;
    resize: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    background-color: var(--cor-acao);
    outline: none;
    border-radius: 10px;
}

textarea.mensagem::placeholder {
    /* Estilo do placeholder da textarea */
    color: var(--cor-secundaria);
}

footer .contato form button {
    /* Botão de enviar */
    height: 37px;
    border-radius: 10px;
    background-color: var(--cor-acao);
    color: var(--cor-secundaria);
    cursor: pointer;
    transition: transform 0.3s ease;
    outline: none;
    border: none;
}

footer .contato form button:hover {
    /* Efeito hover do botão */
    transform: scale(1.05);
}

footer .local-redes {
    /* Coluna direita do rodapé (endereços + redes sociais) */
    display: flex;
    gap: 5rem;
    padding-top: 15px;
}

footer .local-redes h3 {
    /* Subtítulo (opcional, se tiver) */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 19px;
    color: var(--cor-clara);
    margin-bottom: 10px;
}

footer .local-redes address {
    /* Endereço de localização */
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: var(--cor-clara);
}

footer .local-redes .social-media .sociais {
    /* Agrupamento dos ícones sociais */
    display: flex;
    flex-direction: row;
    gap: 5px;
}

footer .local-redes .social-media .sociais img {
    /* Ícones das redes sociais */
    border-radius: 5px;
}

footer .local-redes .social-media .sociais img:hover {
    /* Efeito hover nos ícones sociais */
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px var(--cor-acao);
    background-color: #62efffd0;
    transform: scale(1.1);
}
